<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<h1 layout:fragment="header">Sequence Mapping</h1>

	<div layout:fragment="content" class="container">
		<h3>Mapping User Defined Protein Sequence to 3D Structure</h3>
		<p>
			Contrary with <a th:href="@{/api}" href="api.html">G2S API</a>, which
			return pre-calculated alignments between known protein sequences and
			PDB sequences trimed by pre-defined threshold, Sequence Mapping
			utility provides a flexible functionality to retrieve aligned protein
			structure chains (positions) for any protein sequence under optional
			parameters. BLASTP is deployed in this utility to align user input
			protein sequence against the PDB sequences in the <a th:href="@{/statistics}"
				href="statistics.html">up-to-date database</a>.
		</p>
		
		<form action="#" th:action="@{/input}" th:object="${inputsequence}"
			method="post">
			<p>
			<h3>Input Protein Sequence:</h3>
			</p>
			<p>
				Please Input
				<mark>only one sequence</mark>, 
				Only top ONE sequence will be blast, others will be ignored
			</p>
			<textarea rows="10" cols="100" th:field="*{sequence}"></textarea>
			<p th:if="${#fields.hasErrors('sequence')}" th:errors="*{sequence}">Sequence
				Error</p>
			<p>Input interested residue number:(Optional)</p>
			<p th:if="${#fields.hasErrors('residueNum')}"
				th:errors="*{residueNum}">Residue Number Error</p>
			<input type="text" th:field="*{residueNum}"></input>
			<!-- 
        	<p>Input corresponding residue name here:(Optional)</p> 
        	<p th:if="${#fields.hasErrors('residueName')}" th:errors="*{residueName}">Residue Name Error</p> 
        	<input type="text" th:field="*{residueName}"></input> 
        	 -->


			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse1">Algorithm
								Parameters: (Optional)</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse">
						<div class="panel-body">
							<p><abbr title="Expectation value (E) threshold for saving hits">Evalue</abbr>:</p>
							<p th:if="${#fields.hasErrors('evalue')}" th:errors="*{evalue}">Evalue
								Error</p>
							<input type="text" th:value="1e-10" th:name="evalue"
								th:id="evalue"></input>
							<p><abbr title="Decrease word size to improve sensitivity">Word Size</abbr>:</p>
							<input type="text" th:value="3" th:name="word_size"
								th:id="word_size" th:errorclass="fieldError" />
							<p><abbr title="Cost to open a gap">Gapopen</abbr>:</p>
							<input type="text" th:value="11" th:name="gapopen"
								th:id="gapopen" th:errorclass="fieldError" />
							<p><abbr title="Cost to extend a gap">Gapextend</abbr>:</p>
							<input type="text" th:value="1" th:name="gapextend"
								th:id="gapextend" th:errorclass="fieldError" />
							<p><abbr title="Scoring matrix name, usually BLOSUM62">Matrix</abbr>:</p>
							<select th:field="*{matrix}">
								<option selected="selected" value="BLOSUM62">BLOSUM62</option>
								<option value="PAM30">PAM30</option>
								<option value="PAM70">PAM70</option>
								<option value="PAM250">PAM250</option>
								<option value="BLOSUM80">BLOSUM80</option>
								<option value="BLOSUM45">BLOSUM45</option>
								<option value="BLOSUM50">BLOSUM50</option>
								<option value="BLOSUM90">BLOSUM90</option>
							</select>
							<p><abbr title="Use composition-based statistics, usually 2">Comp_based_stats</abbr>:</p>
							<input type="text" th:value="2" th:name="comp_based_stats"
								th:id="comp_based_stats" th:errorclass="fieldError" />
							<p><abbr title="Minimum word score such that the word is added to the BLAST lookup table">Threshold</abbr>:</p>
							<input type="text" th:value="11" th:name="threshold"
								th:id="threshold" th:errorclass="fieldError" />
							<p><abbr title="Multiple hits window size, use 0 to specify 1-hit algorithm">Window_size</abbr>:</p>
							<input type="text" th:value="40" th:name="window_size"
								th:id="window_size" th:errorclass="fieldError" />
						</div>
					</div>
				</div>
			</div>
			<p>
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</p>
		</form>


	</div>



</body>
</html>
