<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Layout</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/mycss.css}"
	href="../../css/mycss.css" />
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand"
					th:href="@{/input}" href="input.html">
					Pdb-Annotation </a>
				<ul class="nav">
					<li><a th:href="@{/input}" href="input.html"> De Novo Sequence </a></li>
				</ul>
				<ul class="nav">
					<li><a th:href="@{/api}" href="api.html"> API </a></li>
				</ul>
				<ul class="nav">
					<li><a th:href="@{/about}" href="about.html"> About </a></li>
				</ul>
				<ul class="nav">
					<li><a th:href="@{/contact}" href="contact.html"> Contact </a></li>
				</ul>
				<ul class="nav">
					<li><a href="https://github.com/cBioPortal/pdb-annotation"> Code </a></li>
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
		<div layout:fragment="footer"><footer><p>© 2017 Company, Inc.</p></footer></div>
	</div>
</body>
</html>
